* {
    margin: 0;
    padding: 0;
}

.body-style {
    width: 1280px;
}

.logo-style {
    text-align: left;
    margin: 15px 60px;
    font-size: 50px;
    font-family: "Arial";
}

.logo-style a {
    text-decoration: none;
    color: black;
}

.blue-ramda {
    color: #4BCAFF;
}

.header-style {
    background-color: #35444F;
    margin: 15px 60px;
    text-align: center;
    padding: 0;
    position: sticky;
    top: 5px;
}

.header-style ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-style ul li {
    margin: 0;
    display: inline;
    padding: 15px 20px;
    border-left: 1px solid white;
    transition: all .5s ease;
}

.header-style ul li a {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

.right-white-border {
    border-right: 1px solid white;
}

.header-style ul li:hover {
    background-color: #222F3A;
    transition: all .5s ease;
}

.sidebar-style {
    margin: 15px 30px 15px 60px;
    border: 1px solid black;
    float: left;
    width: 290px;
}

.sidebar-style ul {
    list-style: none;
}

.sidebar-style ul li {
    padding: 15px 0px 15px 30px;
    transition: all .5s ease;
}

.sidebar-style ul li a{
    text-decoration: none;
    color: #485863;
    font-family: "Arial";
}

.sidebar-style ul li:hover {
    padding: 15px 0px 15px 50px;
    background-color: #DBDBDB;
    color: #000000;
    transition: all .5s ease;
}

.main-image-logo-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 60px;
    border: 1px solid black;
    height: 320px;
}

.main-image-logo {
    transition: all .5s ease;
}

.main-image-logo:hover {
   transform: scale(1.36);
   transition: all .5s ease;
}

.main-article {
    margin: 0px 60px 30px 380px;
    font-size: 14px;
    font-family: "Arial";
}

.align-paragraphs {
    margin-bottom: 25px;
}

.footer-style {
    display: flex;
    text-align: center;
    background-color: #B4B7B9;
    margin: 15px 60px;
    padding: 0;
    font-family: "Arial";
}

.footer-style ul {
    display: flex;
    justify-content: left;
    list-style: none;
    flex-wrap: wrap;
}

.footer-style ul li {
    margin: 0;
    display: inline;
    padding: 15px 20px;
    transition: all .5s ease;
}

.footer-style ul li a {
    text-decoration: none;
    padding-bottom: 6px;
    color: black;
    transition: all 1.3s;
}

.copyright-item {
    background-color: #f9d532;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 292px;
    font-size: 14px;
}

.footer-style ul li a:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    transition: all .5s ease;
}